body {
  background-color: #E8E8E8;
  margin: 0px;

}

header {
  height: 80px;
  width: 1444px;
  background-color: #fff;
  border: 2px dashed red;
  margin: auto;
}
main {
  height: 4000px;
  width: 1444px;
  background-color: #fff;
  border: 2px dashed red;
  margin: auto;
}
footer {
  height: 394px;
  width: 1444px;
  background-color: #fff;
  border: 2px dashed black;
  margin: auto;
}